@model IEnumerable<Characteristic>

<form asp-area="Admin" asp-controller="PhoneEdit" asp-action="AddPhone" method="post" enctype="multipart/form-data">
	<input type="hidden" name="Id" />
	<p>
		<label>Название модели</label><br />
		<input type="text" name="ModelName" />
	</p>
	<p>
		<label >Изображения</label><br />
		<input type="file"  name="image" multiple/>
	</p>
	
	@foreach(var characteristic in Model)
	{
		<p>
			<label >@characteristic.Name</label><br />
			<input type="text" name="values" />
		</p>
	}
	<p>
		<input type="submit" value="Сохранить" />
	</p>
</form>
