<div id="footer-wrapper">
	<footer id="footer" class="container">
		<div class="row">
			<div class="col-3 col-6-medium col-12-small">

				<!-- Links -->
				<section class="widget links">
					<h3>О компании</h3>
					<ul class="style2">
						<li><a href="#">О нас</a></li>
						<li><a href="#">Вакансии</a></li>
						<li><a href="#">Блог</a></li>
						<li><a href="#">Политика конфиденциальности</a></li>
						
					</ul>
				</section>

			</div>
			<div class="col-3 col-6-medium col-12-small">

				<!-- Links -->
				<section class="widget links">
					<h3>Покупателям</h3>
					<ul class="style2">
						<li><a href="#">Адреса и контакты</a></li>
						<li><a href="#">Платный ремонт</a></li>
						<li><a href="#">Гарантийный ремонт</a></li>
						<li><a href="#">Обратная связь</a></li>
						<li><a href="#">Обмен и возврат товара</a></li>
					</ul>
				</section>

			</div>
			<div class="col-3 col-6-medium col-12-small">

				<!-- Links -->
				<section class="widget links">
					<h3>Оплата</h3>
					<ul class="style2">
						<li><a href="#">Бонусная программа</a></li>
						<li><a href="#">Как заказать</a></li>
						<li><a href="#">Способы оплаты</a></li>
						<li><a href="#">Подарочная карта</a></li>
						<li><a href="#">Рассрочка</a></li>
					</ul>
				</section>

			</div>
			<div class="col-3 col-6-medium col-12-small">

				<!-- Contact -->
				<section class="widget contact">
					<h3>Мы в соцсетях</h3>
					<ul>
						@*<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>*@
					</ul>
				</section>

			</div>
		</div>
	</footer>
</div>

	