<div id="header-wrapper">
	<header id="header" class="container">

		<!-- Logo -->
		<div id="logo">
			<h1><a asp-area="" asp-controller="Home" asp-action="Index">Verti</a></h1>
		</div>

		<!-- Nav -->
		<nav id="nav">
			<div class="input-group">
				<div class="form-outline">
					<input type="search" @*id="form1" class="form-control"*@ />
					@*<label class="form-label" for="form1">Search</label>*@
				</div>
				<button type="button" class="btn btn-primary">
					@*<i class="fas fa-search">*@
						<a asp-controller="Product" asp-action="ProductPage" asp-route-id="">Search</a>
						
						@*</i>*@
				</button>
			</div>
			@*<ul>
				<li><a href="index.html">Welcome</a></li>
				<li>
					<a href="#">Dropdown</a>
					<ul>
						<li><a href="#">Lorem ipsum dolor</a></li>
						<li><a href="#">Magna phasellus</a></li>
						<li>
							<a href="#">Phasellus consequat</a>
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Phasellus consequat</a></li>
								<li><a href="#">Magna phasellus</a></li>
								<li><a href="#">Etiam dolore nisl</a></li>
							</ul>
						</li>
						<li><a href="#">Veroeros feugiat</a></li>
					</ul>
				</li>
				<li><a href="left-sidebar.html">Left Sidebar</a></li>
				<li class="current"><a href="right-sidebar.html">Right Sidebar</a></li>
				<li><a href="no-sidebar.html">No Sidebar</a></li>
			</ul>*@
		</nav>

	</header>
</div>