

<section>
	<h3>Смартфоны</h3>
	<ul class="style2">
		<li><a href="#">Apple</a></li>
		<li><a href="#">Huawei</a></li>
		<li><a href="#">LG</a></li>
		<li><a href="#">Nokia</a></li>
		<li><a href="#">Samsung</a></li>
		<li><a href="#">Realme</a></li>
	</ul>
</section>